/* ARTICLES */
.articles-title {
    margin-left: 3vh;
    margin-top: 15vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #141827;
    font-size: 32px;
  }
  
